@import "tailwindcss";


@keyframes typewriter {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  .animate-typewriter {
    overflow: hidden;
    white-space: nowrap;
    animation: typewriter 2s steps(22, end) infinite, blink 0.5s step-end infinite;
  }
  
  @keyframes blink {
    from, to {
      border-color: transparent;
    }
    50% {
      border-color: #facc15; /* Yellow color */
    }
  }
  